@page
@model MyProjectName.Pages.IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>website UNi</title>
</head>
<body>
    <div class="onfromatin">
        <form method="post">
            <p>: الاسم الكامل</p>
            <input type="text" id="namefull" name="NameFull">
            <p>: العنوان</p>
            <input type="text" id="address" name="Address">
            <p>: الشهادة</p>
            <input type="text" id="shada" name="Shada">
            <p>: الحالة الزوجية</p>
            <input type="checkbox" id="single" name="MaritalStatus" value="single"> اعزب / عزباء
            <input type="checkbox" id="married" name="MaritalStatus" value="married"> متزوج / متزوجة
            <input type="checkbox" id="widow" name="MaritalStatus" value="widow"> أرمل  / أرملة
            <p>: سنة التخرج</p>
            <input type="date" id="graduationYear" name="GraduationYear">
            <p>: تاريخ</p>
            <input type="date" id="date" name="Date">
            <p>: الرقم التعيين</p>
            <input type="number" id="number" name="Number">
            <br>
            <button type="submit">تأكيد</button>
        </form>
    </div>
    <div class="goto">
       <a asp-page="NextPage"><button>التالي</button></a>
    </div>
</body>
</html>
